body {
    margin: 0;
    padding: 0;
    font-family: "TT Lakes";
}
.main-technics {
    background-color: #f8f8f8;
}
.header-technics {
    height: 80px;
    box-sizing: border-box;
    background: linear-gradient(270deg, #FFFFFF 0%, #F8F8F8 98.61%);
    border-top: 1px solid #D9FFF5;
}
.header-technics__title {
    color: #7E7E82;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 16px;
}
.slider-container {
    width: 260px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 70px;
}
.main-technics__button {
    height: 160px;
    width: 160px;
    background-color: #fff;
    outline: none;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-technics__button::after {
    content: "";
    width: 40px;
    height: 40px;
    background-image: url(images/go.svg);
    align-self: flex-end;
    margin: 16px;
} 
.main-technics__text {
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    line-height: 24px;
    color: #1B1C21;
    margin: 16px;
    white-space: pre;
    font-weight: 510;
}
.swiper-pagination {
    margin: auto;
    background-color: #F8F8F8;
    padding-top: 16px;
}
.main-technics__icon {
    display: none;
    margin-right: 16px;
    margin-left: 32px;
    transition-duration: 1s;
    margin-top: 10px;
}
.read-more {
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-weight: 510;
    display: none;
    cursor: pointer;
    border: none;
    background-color: #F8F8F8;
    outline: none;
    font-family: "TT Lakes";
    padding: 0;
    margin-top: 10px;
    padding-bottom: 34px;
}
.rotate {
    transform: rotate(180deg);
}
@media (min-width: 768px) and (max-width: 1119px) {
    .header-technics {
        height: 55px;
    }
    .slider-container {
        overflow: visible;
        display: block;
        width: 100%;
        margin-left: 0px;
    }
    .main-technics__button {
        width: 224px !important;
    }
    .main-technics__button:hover {
        box-shadow: 0 0 5px 5px #ffd7e3;
        cursor: pointer;
    }
    .swiper-wrapper {
        flex-wrap: wrap;
        width: 100%;
        justify-content: flex-start;
    }
    .read-more {
        display: inline-block;
    }
    .main-technics__icon {
        display: inline;
    }
    .main-technics__button {
        margin-left: 24px;
        margin-bottom: 12px;
    }
    .swiper-pagination {
        display: none;
    }
    .hidden-technics {
    display: none;   
    }
}
@media (min-width: 1120px) {
    .header-technics {
        height: 55px;
    }
    .slider-container {
        overflow: visible;
        display: block;
        width: 100%;
        margin-left: 0px;
    }
    .main-technics__button {
        width: 240px !important;
        margin-left: 32px;
        margin-bottom: 16px;
    }
    .main-technics__button:hover {
        box-shadow: 0 0 5px 5px #ffd7e3;
        cursor: pointer;
    }
    .swiper-wrapper {
        flex-wrap: wrap;
        width: 100%;
        justify-content: flex-start;
    }
    .read-more {
        display: inline-block;
    }
    .main-technics__icon {
        display: inline;
    }
    .swiper-pagination {
        display: none;
    }
    .hidden-technics:nth-child(n+5) {
    display: none;  
}
}
